@import "tailwindcss";
@import url('./style.css');

:root {
  --background: #fcfcf9;
  --foreground: #134252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2121;
    --foreground: #f5f5f5;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
}
